<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EXRYWGMPE7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EXRYWGMPE7');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart Bookmark API</title>
    <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
    <div class="container">
        <div class="heading">
            <div class="title">
                <h1>Smart Bookmark API</h1>
            </div>
            <div class="doc-btn">
                <a href="/docs/">Documentation</a>
            </div>
        </div>

        <div class="boxes">
            <div class="row">
                <div class="box">
                    <div class="one">
                        <div class="qwe">
                            <p>POST</p>
                        </div>
                        <div class="asd">
                            <p>http://127.0.0.1:8000/url</p>
                        </div>
                        <div class="zxc">
                            <p>STATUS : <span>OK</span></p>
                        </div>
                    </div>
                    <div class="two">
                        <p>{</p>
                            &nbsp;&nbsp;-url : 'http://www.food.com/',<br>
                            &nbsp;&nbsp;-title : 'Some Title',<br>
                            &nbsp;&nbsp;-category : 'Food Website',<br>
                            &emsp;&emsp;category_id : 'edwsbesiubeiwufwee9542349t84hgwerhgwer9'
                        <p>}</p>
                    </div>
                </div>
                <div class="box">
                    <div class="one">
                        <div class="qwe">
                            <p>POST</p>
                        </div>
                        <div class="asd">
                            <p>http://127.0.0.1:8000/url</p>
                        </div>
                        <div class="zxc">
                            <p>STATUS : <span>OK</span></p>
                        </div>
                    </div>
                    <div class="two">
                        <p>{</p>
                            &nbsp;&nbsp;-url : 'http://www.food.com/',<br>
                            &nbsp;&nbsp;-title : 'Some Title',<br>
                            &nbsp;&nbsp;-category : 'Food Website',<br>
                            &emsp;&emsp;category_id : 'edwsbesiubeiwufwee9542349t84hgwerhgwer9'
                        <p>}</p>
                    </div>
                </div>
            </div>
            <div class="row row1">
                <div class="box">
                    <div class="one">
                        <div class="qwe">
                            <p>POST</p>
                        </div>
                        <div class="asd">
                            <p>http://127.0.0.1:8000/url</p>
                        </div>
                        <div class="zxc">
                            <p>STATUS : <span>OK</span></p>
                        </div>
                    </div>
                    <div class="two">
                        <p>{</p>
                            &nbsp;&nbsp;-url : 'http://www.food.com/',<br>
                            &nbsp;&nbsp;-title : 'Some Title',<br>
                            &nbsp;&nbsp;-category : 'Food Website',<br>
                            &emsp;&emsp;category_id : 'edwsbesiubeiwufwee9542349t84hgwerhgwer9'
                        <p>}</p>
                    </div>
                </div>
                <div class="box">
                    <div class="one">
                        <div class="qwe">
                            <p>POST</p>
                        </div>
                        <div class="asd">
                            <p>http://127.0.0.1:8000/url</p>
                        </div>
                        <div class="zxc">
                            <p>STATUS : <span>OK</span></p>
                        </div>
                    </div>
                    <div class="two">
                        <p>{</p>
                            &nbsp;&nbsp;-url : 'http://www.food.com/',<br>
                            &nbsp;&nbsp;-title : 'Some Title',<br>
                            &nbsp;&nbsp;-category : 'Food Website',<br>
                            &emsp;&emsp;category_id : 'edwsbesiubeiwufwee9542349t84hgwerhgwer9'
                        <p>}</p>
                    </div>
                </div>
            </div>            
        </div>

        <div class="footer">
            <div class="wrapper">
                <a href="https://github.com/iamyajat" target="_blank">
                    <div class="button">
                        <div class="icon">
                           <i class="fab fa-facebook-f"></i>
                        </div>
                        <span>Facebook</span>
                    </div>
                </a>
                <a href="https://github.com/iamyajat" target="_blank">
                    <div class="button">
                        <div class="icon">
                           <i class="fab fa-twitter"></i>
                        </div>
                        <span>Twitter</span>
                    </div>
                </a>
                <a href="https://github.com/iamyajat" target="_blank">
                    <div class="button">
                        <div class="icon">
                           <i class="fab fa-instagram"></i>
                        </div>
                        <span>Instagram</span>
                    </div>
                </a>
                <a href="https://github.com/iamyajat" target="_blank">
                    <div class="button">
                        <div class="icon">
                           <i class="fab fa-github"></i>
                        </div>
                        <span>Github</span>
                    </div>
                </a>
                <a href="https://github.com/iamyajat" target="_blank">
                    <div class="button">
                        <div class="icon">
                           <i class="fab fa-linkedin"></i>
                        </div>
                        <span>LinkedIn</span>
                    </div>
                </a>
            </div>
            <div class="name">Made With <span>&hearts;</span> By <span class="blue">Yajat Malhotra</span></div>
        </div>
    </div>
</body>

</html>