<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EXRYWGMPE7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EXRYWGMPE7');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart Bookmark API</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Smart Bookmark API</h1>
    <small>Status: <small class="inner-small">Online</small></small>
    <p><a href="/docs">Documentation</a></p>
    <p><a href="https://github.com/iamyajat/Smart-Bookmark-API/" target="_blank">GitHub</a></p>
    <p>Made with 💙 by <a href="https://iamyajat.co" target="_blank">Yajat Malhotra</a></p>
</body>

</html>